<footer class="footer">

<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>

<p>This page was built using the Antora default UI licensed under the terms of the <a rel="license" href="https://www.mozilla.org/en-US/MPL/2.0/">MPL-2.0 license</a>.</p>

</footer>
